.vs
bin
obj
packages
wwwroot/lib
TheOfficeFurnitureWarehouse.Business/bin
TheOfficeFurnitureWarehouse.Business/obj
TheOfficeFurnitureWarehouse.Core/bin
TheOfficeFurnitureWarehouse.Core/obj
TheOfficeFurnitureWarehouse.Data/bin
TheOfficeFurnitureWarehouse.Data/obj