@page
@model TheOfficeFurnitureWarehouse.Pages.Views.Orders.AddOrderModel
@{
}

<form method="post" asp-page-handler="calculate">
    <div class="form-group">
        <label asp-for="Order.Customer"></label>
        <select class="form-control" asp-for="Order.Customer" asp-items="Model.Customers"></select>
        <span class="text-danger" asp-validation-for="Order.Customer"></span>
    </div>
    <div class="form-group">
        <label asp-for="Order.Product"></label>
        <select class="form-control" asp-for="Order.Product" asp-items="Model.Products"></select>
        <span class="text-danger" asp-validation-for="Order.Product"></span>
    </div>
    <div class="form-group">
        <label asp-for="Order.Quantity"></label>
        <input class="form-control" asp-for="Order.Quantity" />
        <span class="text-danger" asp-validation-for="Order.Quantity"></span>
    </div>
    <button class="btn btn-default">Calculate price</button>
</form>

<form method="post" asp-page-handler="save">
    <div style="display:none">
        <select class="form-control" asp-for="Order.Customer" asp-items="Model.Customers"></select>
        <select class="form-control" asp-for="Order.Product" asp-items="Model.Products"></select>
        <input class="form-control" asp-for="Order.Quantity" />
    </div>
    <div class="form-group">
        <label asp-for="Order.Price"></label>
        <input class="form-control" asp-for="Order.Price" readonly="readonly" />
    </div>
    <button class="btn btn-default">Save</button>
</form>