@page
@model TheOfficeFurnitureWarehouse.Pages.Views.Orders.AddOrderModel
@{
}

<form method="post" asp-page-handler="calculate">
    <div class="form-group">
        <label asp-for="Order.SelectedCustomer"></label>
        <select class="form-control" asp-for="Order.SelectedCustomer" asp-items="Model.Order.Customers"></select>
        <span class="text-danger" asp-validation-for="Order.SelectedCustomer"></span>
    </div>
    <div class="form-group">
        <label asp-for="Order.SelectedProduct"></label>
        <select class="form-control" asp-for="Order.SelectedProduct" asp-items="Model.Order.Products"></select>
        <span class="text-danger" asp-validation-for="Order.SelectedProduct"></span>
    </div>
    <button class="btn btn-default">Calculate price</button>
</form>

<form method="post" asp-page-handler="save">
    <div class="form-group">
        <label asp-for="Order.Price"></label>
        <input class="form-control" asp-for="Order.Price" readonly="readonly" />
    </div>
    <button class="btn btn-default">Save</button>
</form>